lib/server/src/static/frag-input.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/MOV_480_700kB.mov filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/Webm_ocean_with_audio.webm filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/frag-input-with_base_moof.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/frag-recording-with_base_moof.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/frag-recording.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/oceans.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/3gp.3gp filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/asf.asf filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/frag_bunny.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/input.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/mov-out.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/output.m4v filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/airbnb.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/BigBuckBunny.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/WMV_480_1_2MB.wmv filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/mkv.mkv filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/recording.mp4 filter=lfs diff=lfs merge=lfs -text
lib/server/src/static/AVI_480_750kB.avi filter=lfs diff=lfs merge=lfs -text
